modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "vite", "preview", "--port", "5000", "--host", "0.0.0.0"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
VITE_APP_BASE_NAME = "/"
VITE_APP_API_URL = "https://a5e6b9c8-56df-4a28-80b4-8e30c119abc5-00-3p3h7u3k5vbpw.worf.replit.dev"
